{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    // "transform-dynamic-import",
    "react-hot-loader/babel",
    // "transform-runtime",
    // "transform-decorators-legacy",
    // "@babel/plugin-syntax-dynamic-import",
    "syntax-dynamic-import",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ],
}