User root
Host zzqAdmin
HostName 211.149.195.231
Port 22000
StrictHostKeyChecking no
IdentityFile ~/.ssh/zzq_rsa
IdentitiesOnly yes
Protocol 2
Compression yes
ServerAliveInterval 60
ServerAliveCountMax 20
LogLevel INFO
