User root
Host zzqAdmin
HostName $serverIP
Port 22000
StrictHostKeyChecking no
IdentityFile ~/.ssh/zzq_rsa
IdentitiesOnly yes
Protocol 2
Compression yes
ServerAliveInterval 60
ServerAliveCountMax 20
LogLevel INFO
